<div class="{{styles.message-page}}">
    <div class="{{styles.info}}">
        <h1 class="{{styles.title}}">{{code}}</h1>
        <p class="{{styles.subtitle}}">Мы уже фиксим</p>
    </div>
    <a class="{{styles.button}}" href="/">Назад к чатам</a>

</div>
