{{#if isPrimary}}
    <button class="{{ styles.button}} {{styles.primary}} {{ classes }}">{{ label }}</button>
{{else}}
    <button class="{{ styles.button }} {{ classes }}">{{ label }}</button>
{{/if}}
