{{#if isOwner}}
    <div class="{{ styles.message }} {{styles.isOwner}} {{ classes }}">
        <p class="{{styles.content}}">
            <span class="{{styles.text}}">{{ content }}</span>
            <span class="{{styles.meta}}">
                <span class="{{styles.status}}"> </span>
                11:56
            </span>
        </p>
    </div>
{{else}}
    <div class="{{ styles.message }} {{ classes }}">
        <p class="{{ styles.content }}">
            <span class="{{styles.text}}">{{ content }}</span>
            <span class="{{styles.meta}}">
                11:56
            </span>
        </p>
    </div>
{{/if}}
